
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>




<div class="container">
  
  <div class="row">
  
  <div class="col col-lg-12 col-sm-12 col-xs-12">
    
     <h1 class="h1" style="text-align:center">Add Event</h1>
    
    
    <form  action = '/AddEvent' method = "post">
    
    <div  class="form-group">
     
      
      
      <p>Add Event</p>
      
      <input class="form-control" type="text" name = "EventName" placeholder="Event name">
      <input class="form-control" type="text" name = "EventDateInWords" placeholder="Date in Words">
      <input class="form-control" type="date" name = "EventDate" placeholder="Event Date">
      <textarea class="form-control" type = 'text' name = 'EventDescription' placeholder = 'Event Description'></textarea>
      
     
   
      <button class="btn btn-primary" style="width:100%" >Submit</button>
      </div>
      
    
</form>
    
  
  </div>
  
</div>
  
</div>




 
   
  
 