<!--   <title>T-shirt Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="row">
  <div style="text-align:center;font-family: 'Nunito', sans-serif;background-color:black;" class="col col-lg-12 col-sm-12 col-xs-12">
  <i style="font-size:40px;color:white;" class="fa fa-user" aria-hidden="true"></i>
      <span style="font-size:40px;color:red;"> Admin Page</span>
  </div>
</div>



<div class="row">
  <div style="text-align:center;font-family: 'Nunito', sans-serif;background-color:#bcbcbc;" class="col col-lg-12 col-sm-12 col-xs-12">
    <a href="/addProduct"><i style="font-size:140px;color:black;" class="fa fa-plus-circle" aria-hidden="true"></i><br>
      <span style="font-size:30px;">Add a t-shirt</span></a>
  </div>
</div>


<div class="row">
  <div style="text-align:center;font-family: 'Nunito', sans-serif;background-color:#bcbcbc;" class="col col-lg-12 col-sm-12 col-xs-12">
    <a href="/orders"><i style="font-size:140px;color:black;" class="fa fa-thumb-tack" aria-hidden="true"></i><br>
      <span style="font-size:30px;">Orders</span></a>
  </div>
</div>
 -->







