<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">

<body style="max-width: 100%;
    overflow-x: hidden;">
  
  <div class="row" style="width:103%;">
      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
        style="height:280px;background-color:rgba(124, 199, 255,0.5)">
     <div class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
       <img style="margin-top:10px;
                   width:200px" src="https://i.imgur.com/NJjvJGq.png" alt="">
     </div>
     <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12"
          style="text-align:center">
         <p style="font-family: 'Nunito', sans-serif;
                   font-size:30px;
                   margin-top:40px"><strong>Aldel Education Trust's <br> St. John College of Engineering and Management <br> Department of Computer Engineering <br> CSI</strong></p>
     </div>
     <div class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
       <img src="https://i.imgur.com/idPi6lN.gif" style="height:150px;width:250px;margin-top:50px" alt="">
     </div>
     
    </div> 
  
<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" 
         style="height:50px;background-color:#003399">
      
      <div style="text-align:center" class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12" >
        <div style='margin-top:10px'><a href="/" style="font-family: 'Nunito', sans-serif;font-size:25px;
                                color:white;"><i class="fa fa-home"></i> Home</a></div>
      </div>
      
      
      <div style="text-align:center" class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12" >
         <div style='margin-top:10px'><a href="/allEvents" style="font-family: 'Nunito', sans-serif;font-size:25px;
                                color:white;"><i class="fa fa-calendar"></i> All Events</a></div>
      </div>
      
      
      <div style="text-align:center" class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12" >
         <div style='margin-top:10px'><a href="/pastEvents" style="font-family: 'Nunito', sans-serif;font-size:25px;
                                color:white;"><i class="fa fa-calendar"></i> Past Events</a></div>
      </div>
      
      
      <div style="text-align:center" class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12" >
         <div style='margin-top:10px'><a href="/gallery" style="font-family: 'Nunito', sans-serif;font-size:25px;
                                color:white;"><i class="fa fa-th-large"></i> Gallery</a></div>
      </div>
      
      
      <div style="text-align:center;background-color:white;padding-bottom:8px" class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12" >
         <div style='margin-top:10px'><a href="/contact" style="font-family: 'Nunito', sans-serif;font-size:25px;
                                color:rgb(0, 51, 153)"><i class="fa fa-user"></i> Contact us</a></div>
      </div>
      
      
      <div style="text-align:center;" class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12" >
         <div style='margin-top:10px'><a href="/register" style="font-family: 'Nunito', sans-serif;font-size:25px;
                                color:white"><i class="fa fa-lock"></i> Sign UP</a></div>
      </div>
    </div>
 
  
  
  
  
  <div class="col col-lg-8" style="font-size:17px">
    <h4 style="text-align:center;border-bottom:solid 1px blue"><strong>SJCEM CSI Members</strong></h4>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span><strong>Position</strong></span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span><strong>Name</strong></span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Chair Person</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Parth Jagdish Zalavadia</span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Co-Chair Person</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Vrutti Veniram Patel</span> </div>
    
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Membership</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Aayush Sanjay Soni</span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Conference</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Pooja Jaydas Upade</span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Secretary</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Bhakti Pandurang Patil</span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Finance Head</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Pranita Ganesh Raut</span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Training And Placement</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Shaili Minesh Patil</span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Head</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Pratim Bikash Hajra</span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Head</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Mihir Prashant Kulkarni</span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Technical Head</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Smit Pratap Jethva</span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Event Head</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>sandesh Pralhad Rathod</span> </div>
    
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Event Head</span></div>
    <div style="text-align:center;border-right:solid 1px #ccc" class="col col-lg-6"><span>Pranav Prashant Gharat</span> </div>
    
    
  </div>
  
  
  
    <div class="col col-lg-4">
    <p style="text-align:center;margin-top:60px"><span style="background-color:black;font-family: 'Nunito', sans-serif;
      font-size:18px;
      color:white;padding:10px">CONTACT DEVELOPERS :</span></p>
      
       <p style="text-align:center;margin-top:30px"><span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px">Saurabh Pandey</span></p>
      
       <p style="text-align:center;margin-top:10px"><i class="fa fa-phone"></i> 8097448698<span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px"></span></p>
      
      
        <p style="text-align:center;margin-top:10px"><i class="fa fa-envelope"></i> sp241930@gmail.com<span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px"></span></p>
      
        <p style="text-align:center;margin-top:30px"><span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px">Chirag Prajapati</span></p>
      
       <p style="text-align:center;margin-top:10px"><i class="fa fa-phone"></i> 7738189663<span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px"></span></p>
      
      
        <p style="text-align:center;margin-top:10px"><i class="fa fa-envelope"></i> chiragprajapati781@gmail.com<span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px"></span></p>
      
      
      
      
      
      
      
      
  </div>
   
    </div>
  
</body>





