<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">

<body>
  
  <div class="row">
      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
        style="height:180px;background-color:rgba(0,0,0,0.5)">
     <div class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
       <img style="margin-top:10px;height:160px;width:160px" src="https://i.imgur.com/vgOYEad.png" alt="">
     </div>
     <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12"
          style="text-align:center">
         <p style="font-family: 'Nunito', sans-serif;
                   font-size:100px;
                   margin-top:30px;
                   color:white"><strong>Admin Side</strong></p>
     </div>
     <div class="col col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
       <img src="https://i.imgur.com/idPi6lN.gif" style="height:130px;width:220px;margin-top:20px" alt="">
     </div>
     
    </div> 
  
<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" 
         style="height:50px;background-color:rgba(0,0,0,0.9)">
      
      <div style="text-align:center" class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12" >
        <div style='margin-top:10px'><a href="/" style="font-family: 'Nunito', sans-serif;font-size:25px;
                                color:white;"><i class="fa fa-user"></i> Students</a></div>
      </div>
      
      
      <div style="text-align:center" class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12" >
         <div style='margin-top:10px'><a href="" style="font-family: 'Nunito', sans-serif;font-size:25px;
                                color:white;"><i class="fa fa-plus"></i> Add Event</a></div>
      </div>
      
      

      
      
      <div style="text-align:center" class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12" >
         <div style='margin-top:10px'><a href="" style="font-family: 'Nunito', sans-serif;font-size:25px;
                                color:white;"><i class="fa fa-plus"></i> Add Photos</a></div>
      </div>
      
      
      
      
      
      </div>
    
    
    
    <div class="col col-lg-3">
      
     <div class="col col-lg-6" style="height:30px;text-align:center;background-color:white;border:solid 2px grey"> 
       <a href="/AdminPortal" style="color:grey;font-family: 'Nunito', sans-serif;font-size:20px;">Class-wise</a>
      </div>
      
        <div class="col col-lg-6" style="height:30px;text-align:center;border:solid 2px grey;background-color:grey;"> 
       <a style="color:white;font-family: 'Nunito', sans-serif;font-size:20px;" href="/eventWise">Event-wise</a>
      </div>
      
      
      
      <%events.forEach(function(event){%>
        <div class="col col-lg-12" style="height:50px;text-align:center;margin-top:30px; border:solid 1px #ccc;">
        <a href="/showEventStudents/<%=event._id%>"
                                                                          style="font-family: 'Nunito', sans-serif;
                                                                                 font-size:20px;
                                                                                 
                                                                                 color:blue"><p style="margin-top:10px;">
                                                                                <strong><%=event.EventName%></strong></a> </p></div>
      <%})%>
      

     

  </div>


  <div class="col col-lg-9">
         
  <div class="col col-lg-12" style="border-right:solid 2px #ccc;border-bottom:solid 1px #ccc;background-color:grey">
  <p style="font-size:17px; text-align:center;margin-top:8px;font-weight:bold "><%=event.EventName%> Students</p>
  </div>
    
    <div class="col col-lg-12" style="border-right:solid 2px #ccc;border-bottom:solid 1px #ccc;background-color:lightblue">
  <p style="font-size:17px; text-align:center;margin-top:8px;font-weight:bold ">StudentName</p>
  </div>
 

    
    
    
            
    <%event.RegisteredStudents.forEach(function(member){%>
<div class="col col-lg-12" style="border-right:solid 2px #ccc;border-bottom:solid 1px #ccc">
  <p style="font-size:17px; text-align:center;margin-top:8px; "><%=member.StudentName%></p>
  </div>
 
<%})%>
    
    
    
    
    
    
    
    

      </div>

    
     












  </div>









