<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSI Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

<p style="margin-top:20px;font-family: 'Nunito', sans-serif;">Login to view your profile</p>
         <div style="border-radius:8px;
                     padding-bottom:15px;
                     padding:15px 15px 15px 15px;
                     border-top:solid 20px white;
                     background-color:#ccc">
                    <form class = "ui form" action = '/login' method = "post">
    
    <div style="margin-top:20px; font-size:17px">
       <label>Enter your PID</label>
       <input  style="margin-top:0px;
                text-align:center;
                 font-family: 'Nunito', sans-serif;" 
        class="form-control" type = 'text' name = 'username' placeholder = 'PID'>
    </div>

 
    <div style="margin-top:20px; font-size:17px">
      <label>Enter your Password</label>
       <input  style="margin-top:20px;
                text-align:center;
                font-family: 'Nunito', sans-serif;" 
        class="form-control" type = 'password' name = 'password' placeholder = 'Password'>
    </div>
 
 <button style="background-color:rgb(0, 51, 153);
                  color:white;
                  width:100%;
                font-family: 'Nunito', sans-serif;
                  border:solid 2px rgb(0, 51, 153);
                  margin-top:20px;
                  height:40px;
                  font-size:20px"  >Login</button>